.rkmng_navbrand_txt{
  font-family: 'Raleway', sans-serif;
  font-size: 1.45em;
  color:#ffffff;
  z-index: 100;
}

.fa-heart-o{
  color:hotpink;
  padding-right: -.75em;
}

.rkmng_welcome_txt{
  font-family: 'Exo 2', sans-serif;
  color:white;
  padding-left: 3em;
  font-size: 1.25em;
}
