.rkmng_navbrand_txt{
  font-family: 'Raleway', sans-serif;
  font-size: 1.45em;
  color:hotpink;
 float:left;
  padding-bottom: .5em;

}

.fa-heart-o{
  color:white;
}

.rkmng_welcome_txt{
  font-family: 'Exo 2', sans-serif;
  color:white;
  padding-left: .5em;
  font-size: 1.25em;
}

.rkmng_navbar_links a{
  font-size: 1.25em;
  color: white;
}

.rkmng_navbar_links{
  padding-left: .5em;
}
