<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="row">
      <div class="col-md-5">
        <div class="rkmng_navbrand_txt"><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
          Upcoming Angular 2 Events</div>
      </div>
      <div class="col-md-7">
        <form id="searchForm" class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Sessions"/>
          </div>
          <button class="btn btn-default">
            Search
          </button>

        <a class="rkmng_welcome_txt" >Welcome Orange! </a>

        </form>

      </div>
    </div>
  </div>
</nav>
