

<div class="container  rkmng_event_thumbnail-container">

 <div class="row">
   <div class="rkmng_event_thumbnail">
     <section class="rkmng_event_thumbnail-blockinfo">
       <img [src]="event?.imageUrl" class="img-responsive rkmng_event_thumbnail-img"/>
       <p class="rkmng_event_title"> {{event.name}}</p>
     </section>
     <section>
       <p class="rkmng_event_txt">Date: {{event.date | date:'longDate' }}</p>
       <p class="rkmng_event_txt">Time: {{event.time}}</p>
     </section>
   </div>
 </div>

</div>

