/* You can add global styles to this file, and also import other style files */

.rkmng_common_container{
  padding-top: 5em;
}

.toast-success{
  background-color: #51a351;
}

.toast-error{
  background-color: #bd362f;
}

.toast-info{
  background-color: #2f96b4;
}

.toast-warning{
  background-color: #f89406;
}
